<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>
		{% block title %}{% endblock %}
	</title>
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="/static/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="/static/newstyles.css">
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"> </script> -->
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"> </script> -->

</head>

<body>
	<!-- navbar -->
	<div class="grid-container">
		<header class="navbar bg-light-grey">
			<span class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</span>					
		</header>
	{% block body %}
	{% endblock %}
	</div>
</body>
</html>