<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>
		{% block title %}{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"> </script> -->
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"> </script> -->

</head>

<body>
	<!-- navbar -->
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<span class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Menu<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/home">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</span>					
			</div>
			<div class="col-sm">
				<!-- placeholder -->
			</div>
			<div class="col-sm">
				Search bar?
			</div>
		</div>
	</div>
	</nav>
	{% block body %}
	{% endblock %}
</body>
</html>